<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="genericworkerstorage" value="DefaultEndpointsProtocol=https;AccountName=genericworker;AccountKey=EKnIOz9uYJ+FAvtL25Rka/OkZ6OoTHkF4GDGe7wcWFrjcaM34QI9gr6xd0p56OVLeFcqlAiiAQbYVwOo3cMrtg==" />
    <add key="venusdemouserstorage" value="DefaultEndpointsProtocol=https;AccountName=venuscdemouserstorage;AccountKey=utTKN4O1uWmbj09u8JdT+mS6iRXhnjIcACFCpDmWZdYFqZXPOarwKl2xH9/EaH8rTRFN6GAi37//J3ZwzNIaIA==" />
  </appSettings>
</configuration>
