<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>

    <!--<add key="Microsoft.EMIC.Cloud.NotificationService.URL" value="http://localhost:81/NotificationService/Service.svc" />
    <add key="Microsoft.EMIC.Cloud.SecureNotificationService.URL" value="http://localhost:81/NotificationService/SecureService.svc" />
    <add key="Microsoft.EMIC.Cloud.UsernamePasswordSecuredNotificationService.URL" value="http://localhost:81/NotificationService/UsernamePasswordSample.svc"/>
    <add key="Microsoft.EMIC.Cloud.JobManagementService.URL" value="http://localhost:81/JobSubmission/SecureService.svc" />
    <add key="Microsoft.EMIC.Cloud.STS.URL" value="http://localhost:81/STS/UsernamePassword.svc" />
    <add key="Microsoft.EMIC.Cloud.AuthCert.Thumbprint" value="71C5CABC00BFA0422ED32244F85CEACECEE03A3F" />
    <add key="Microsoft.EMIC.Cloud.AuthCert.DnsEndpointId" value="RAMIN-MSFT.europe.corp.microsoft.com" />-->

    
    <add key="Microsoft.EMIC.Cloud.NotificationService.URL" value="http://my.genericworker.net/NotificationService/Service.svc" />
    <add key="Microsoft.EMIC.Cloud.SecureNotificationService.URL" value="http://my.genericworker.net/NotificationService/SecureService.svc" />
    <add key="Microsoft.EMIC.Cloud.UsernamePasswordSecuredNotificationService.URL" value="http://my.genericworker.net/NotificationService/UsernamePasswordSample.svc"/>
    <add key="Microsoft.EMIC.Cloud.JobManagementService.URL" value="http://my.genericworker.net/JobSubmission/SecureService.svc" />
    <add key="Microsoft.EMIC.Cloud.STS.URL" value="http://my.genericworker.net/STS/UsernamePassword.svc" />
    <add key="Microsoft.EMIC.Cloud.AuthCert.Thumbprint" value="E04FB18B3317F79D5D70B1B6FF9A4C1D45630B01" />
    <add key="Microsoft.EMIC.Cloud.AuthCert.DnsEndpointId" value="my.genericworker.net" />

    <add key="Microsoft.EMIC.Cloud.Demo.User.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=venuscdemouserstorage;AccountKey=deadbeefsupersecretbase64keyfromAzurePortalhereWhateverIsInGithubIsAJokeNeverUseBlahbl==" />

  </appSettings>
</configuration>
