<?xml version="1.0"?>
<!-- WaIISHost.exe.config -->
<!-- 
     @See http://blogs.msdn.com/b/windowsazure/archive/2010/12/02/new-full-iis-capabilities-differences-from-hosted-web-core.aspx 

     However with full IIS, the RoleEntryPoint runs under WaIISHost.exe, 
     while the web site runs under a normal IIS w3wp.exe process. 
     
     When you create your web role project, Visual Studio creates a web.config 
     file for your .NET configuration. While your web application can access 
     this information, your RoleEntryPoint code cannot-because it's not running 
     as a part of your web site. As mentioned earlier, it runs under a process 
     called WaIISHost.exe, so it expects its configuration to be in a file called 
     WaIISHost.exe.config.  
     
     Therefore, if you create a file with this name in the your web project and 
     set the "Copy to Output Directory" property to "Copy Always" you'll find 
     that the RoleEntryPoint can read this happily. This is one of the only cases 
     I can think of where you'll have two .NET configuration files in the same project! 
     -->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
