<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--<add key="Microsoft.EMIC.Cloud.GenericWorker.URL"    value="http://localhost:81/JobSubmission/Service.svc" />
    <add key="JobManagementUrl"    value="http://localhost:81/JobManagement/"/>
     -->
    <add key="Microsoft.EMIC.Cloud.GenericWorker.URL"    value="http://my.genericworker.net/JobSubmission/Service.svc" />
    <add key="JobManagementUrl"    value="http://my.genericworker.net/JobManagement/"/>

    <add key="Microsoft.EMIC.Cloud.Demo.User.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=venuscdemouserstorage;AccountKey=utTKN4O1uWmbj09u8JdT+mS6iRXhnjIcACFCpDmWZdYFqZXPOarwKl2xH9/EaH8rTRFN6GAi37//J3ZwzNIaIA==" />
  </appSettings>
</configuration>
