<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>

    
    <!-- Notebook
    <add key="Microsoft.EMIC.Cloud.GenericWorker.URL" value="http://localhost:81/JobSubmission/Service.svc" />
    <add key="Microsoft.EMIC.Cloud.SecureGenericWorker.URL" value="http://localhost:81/JobSubmission/SecureService.svc" />
    <add key="Microsoft.EMIC.Cloud.STS.URL" value="http://localhost:81/STS/UsernamePassword.svc" />
    <add key="JobManagementUrl" value="http://localhost:81/JobManagement/"/>
    <add key="Microsoft.EMIC.Cloud.AuthCert.Thumbprint" value="F8ACE24A36F93B006BFAF495F6C14FB827AC61A3" />
    <add key="Microsoft.EMIC.Cloud.AuthCert.DnsEndpointId" value="127.0.0.1" />-->

    <!-- Desktop -->
    <add key="Microsoft.EMIC.Cloud.GenericWorker.URL" value="http://localhost:81/JobSubmission/Service.svc" />
    <add key="Microsoft.EMIC.Cloud.SecureGenericWorker.URL" value="http://localhost:81/JobSubmission/SecureService.svc" />
    <add key="Microsoft.EMIC.Cloud.STS.URL" value="http://localhost:81/STS/UsernamePassword.svc" />
    <add key="JobManagementUrl" value="http://localhost:81/JobManagement/"/>
    <add key="Microsoft.EMIC.Cloud.AuthCert.Thumbprint" value="71C5CABC00BFA0422ED32244F85CEACECEE03A3F" />
    <add key="Microsoft.EMIC.Cloud.AuthCert.DnsEndpointId" value="RAMIN-MSFT.europe.corp.microsoft.com" />  
    
    <!-- Cloud: genericworker -->
    <!--<add key="Microsoft.EMIC.Cloud.GenericWorker.URL" value="http://my.genericworker.net/JobSubmission/Service.svc" />
    <add key="Microsoft.EMIC.Cloud.SecureGenericWorker.URL" value="http://my.genericworker.net/JobSubmission/SecureService.svc" />
    <add key="Microsoft.EMIC.Cloud.STS.URL" value="http://my.genericworker.net/STS/UsernamePassword.svc" />
    <add key="JobManagementUrl" value="http://my.genericworker.net/JobManagement/"/>
    <add key="Microsoft.EMIC.Cloud.AuthCert.Thumbprint" value="E04FB18B3317F79D5D70B1B6FF9A4C1D45630B01" />
    <add key="Microsoft.EMIC.Cloud.AuthCert.DnsEndpointId" value="my.genericworker.net" />-->

    <!-- Cloud: ademoservice -->
    <!--<add key="Microsoft.EMIC.Cloud.GenericWorker.URL" value="http://ademoservice.cloudapp.net/JobSubmission/Service.svc" />
    <add key="Microsoft.EMIC.Cloud.SecureGenericWorker.URL" value="http://ademoservice.cloudapp.net/JobSubmission/SecureService.svc" />
    <add key="Microsoft.EMIC.Cloud.STS.URL" value="http://ademoservice.cloudapp.net/STS/UsernamePassword.svc" />
    <add key="JobManagementUrl" value="http://ademoservice.cloudapp.net/JobManagement/"/>
    <add key="Microsoft.EMIC.Cloud.AuthCert.Thumbprint" value="2ABE7E381CA712923D5A6D7642C68DDC99AC47D0" />
    <add key="Microsoft.EMIC.Cloud.AuthCert.DnsEndpointId" value="AzureMgmt" />-->
    
    <add key="Microsoft.EMIC.Cloud.Demo.User.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=genericworker;AccountKey=deadbeefsupersecretbase64keyfromAzurePortalhereWhateverIsInGithubIsAJokeNeverUseBlahbl==" />    
  </appSettings>
</configuration>