<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="genericworkerstorage" value="DefaultEndpointsProtocol=https;AccountName=genericworker;AccountKey=deadbeefsupersecretbase64keyfromAzurePortalhereWhateverIsInGithubIsAJokeNeverUseBlahbl==" />
    <add key="venusdemouserstorage" value="DefaultEndpointsProtocol=https;AccountName=venuscdemouserstorage;AccountKey=deadbeefsupersecretbase64keyfromAzurePortalhereWhateverIsInGithubIsAJokeNeverUseBlahbl==" />
  </appSettings>
</configuration>
