<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UnsecureEndpoint" value="http://bscgrid06.bsc.es:8080/venusbes/factory"/>
    <add key="SecuredEndpoint" value="https://bscgrid20.bsc.es:443/venusbes/factory"/>
    <!--<add key="SecuredEndpoint" value="https://bscgrid05.bsc.es:8443/venusbes/factory"/>-->
    <!--<add key="UserName" value="usercolb"/>
    <add key="Passwd" value="usercolb"/>-->
    <add key="UserName" value="ogf30"/>
    <add key="Passwd" value="ogf30"/>
    <add key="Thumbprint" value="5E8E7700360D75868214C0CCC2FF214FE334E08C"/>
    <!--<add key="Thumbprint" value="45407982323004C4486CDD5BE359463D249446FD"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
