<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="Microsoft.EMIC.Cloud.Demo.User.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=genericworker;AccountKey=deadbeefsupersecretbase64keyfromAzurePortalhereWhateverIsInGithubIsAJokeNeverUseBlahbl==" />

    <!--<add key="Microsoft.EMIC.Cloud.Demo.User.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ademostorageaccount;AccountKey=deadbeefsupersecretbase64keyfromAzurePortalhereWhateverIsInGithubIsAJokeNeverUseBlahbl==" />-->
  </appSettings>
</configuration>