<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="Microsoft.IdentityModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="false" logMessagesAtServiceLevel="false"
        logMessagesAtTransportLevel="false" />
    </diagnostics>
  </system.serviceModel>
  <appSettings>
    <add key="Microsoft.EMIC.Cloud.JobListingService.URL" value="http://my.genericworker.net/JobSubmission/SecureService.svc" />
    <add key="Microsoft.EMIC.Cloud.SecureScalingService.URL" value="http://my.genericworker.net/ScalingService/SecureService.svc" />
    <add key="Microsoft.EMIC.Cloud.SecureNotificationService.URL" value="http://my.genericworker.net/NotificationService/SecureService.svc" />
    <add key="Microsoft.EMIC.Cloud.UsernamePasswordSecuredJobListingService.URL" value="http://my.genericworker.net/JobSubmission/UsernamePasswordSample.svc"/>
    <add key="Microsoft.EMIC.Cloud.STS.URL" value="http://my.genericworker.net/STS/UsernamePassword.svc" />
    <add key="Microsoft.EMIC.Cloud.AuthCert.Thumbprint" value="4457F68F383307721EFA0ED3441E338680A4C25B" />        
    <add key="Microsoft.EMIC.Cloud.AuthCert.DnsEndpointId" value="my.genericworker.net" />
    <add key="Microsoft.EMIC.Cloud.Azure.MgmtCertThumbprint" value=""/>
    <add key="Microsoft.EMIC.Cloud.Azure.ServiceName" value=""/>
    <add key="Microsoft.EMIC.Cloud.Azure.SubscriptionId" value=""/>
    <add key="Microsoft.EMIC.Cloud.SerializedGlobalSecurityPolicy" value=""/>
    <!--<add key="Microsoft.EMIC.Cloud.JobListingService.URL" value="http://localhost:81/JobSubmission/SecureService.svc" />
    <add key="Microsoft.EMIC.Cloud.SecureScalingService.URL" value="http://localhost:81/ScalingService/SecureService.svc" />
    <add key="Microsoft.EMIC.Cloud.SecureNotificationService.URL" value="http://localhost:81/NotificationService/SecureService.svc" />
    <add key="Microsoft.EMIC.Cloud.UsernamePasswordSecuredJobListingService.URL" value="http://localhost:81/JobSubmission/UsernamePasswordSample.svc"/>
    <add key="Microsoft.EMIC.Cloud.STS.URL" value="http://localhost:81/STS/UsernamePassword.svc" />
    <add key="Microsoft.EMIC.Cloud.AuthCert.Thumbprint" value="71C5CABC00BFA0422ED32244F85CEACECEE03A3F" />
    <add key="Microsoft.EMIC.Cloud.AuthCert.DnsEndpointId" value="RAMIN-MSFT.europe.corp.microsoft.com" />-->    
  </appSettings>
</configuration>
