<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STSInitializer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <STSInitializer.Properties.Settings>
            <setting name="IsInitialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STSOnAzureConnectionString" serializeAs="String">
                <value>UseDevelopmentStorage=true</value>
            </setting>
            <setting name="DevelopmentSecurityTokenServiceUserTableName"
                serializeAs="String">
                <value>gwstsusers</value>
            </setting>
        </STSInitializer.Properties.Settings>
    </userSettings>
</configuration>