<?xml version="1.0"?>
<!-- JOB SUBMISSION SERVICE -->
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
        propagateActivity="false">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="Microsoft.IdentityModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <ws2007FederationHttpBinding>
        <binding name="submissionServiceBinding">
          <security mode="Message">
            <message establishSecurityContext="false" negotiateServiceCredential="false">
              <issuer address="http://localhost/Corporate/STS/UserName"
                      binding="ws2007HttpBinding"
                      bindingConfiguration="stsBinding">
                <identity>
                  <dns value="localhost" />
                </identity>
              </issuer>
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
      <ws2007HttpBinding>
        <binding name="stsBinding">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
  </system.serviceModel>
  <microsoft.identityModel>
    <service>
      <audienceUris mode="Never" />
      <issuerNameRegistry type="Microsoft.EMIC.Cloud.Security.ConfigurationBasedCertStoreIssuerNameRegistry, Microsoft.EMIC.Cloud.GenericWorker">
        <trustedCertificates>
          <add name="CN=localhost"
               x509FindType='FindBySubjectName'
               findValue='localhost'
               storeLocation='LocalMachine'
               storeName='My' />
        </trustedCertificates>
      </issuerNameRegistry>
      <serviceCertificate>
        <certificateReference x509FindType='FindBySubjectName'
                              findValue='localhost' storeLocation='LocalMachine' storeName='My' />
      </serviceCertificate>
    </service>
  </microsoft.identityModel>
</configuration>