<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AccountingDataFetcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GWAzureAccountingDataFetcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <GWAzureAccountingDataFetcher.Properties.Settings>
            <setting name="UpdateFrequency" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="GenericWorkerConnectionString" serializeAs="String">
                <value>UseDevelopmentStorage=true</value>
            </setting>
            <setting name="GenericWorkerAccountingTableName" serializeAs="String">
                <value>gwaccountingtable</value>
            </setting>
            <setting name="CreatorID" serializeAs="String">
                <value>Azure GW Accounting Connector</value>
            </setting>
            <setting name="ResourceOwner" serializeAs="String">
                <value>Microsoft Windows Azure</value>
            </setting>
            <setting name="VmPostUrl" serializeAs="String">
                <value>http://localhost/usagetracker/rest/usagerecords/vm/</value>
            </setting>
            <setting name="StoragePostUrl" serializeAs="String">
                <value>http://localhost/usagetracker/rest/usagerecords/storage/</value>
            </setting>
            <setting name="NetworkPostUrl" serializeAs="String">
                <value>http://localhost/usagetracker/rest/usagerecords/network/</value>
            </setting>
            <setting name="JobPostUrl" serializeAs="String">
                <value>http://localhost/usagetracker/rest/usagerecords/job</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>venus</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>venus</value>
            </setting>
            <setting name="GenericWorkerAccountingPushedTableName" serializeAs="String">
                <value>gwaccountingpushedtable</value>
            </setting>
            <setting name="GenericWorkerAccountingErrorTableName" serializeAs="String">
                <value>gwaccountingerrortable</value>
            </setting>
        </GWAzureAccountingDataFetcher.Properties.Settings>
    </applicationSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add initializeData=".\GWAccountingDataFetcher.logFile.txt" type="System.Diagnostics.TextWriterTraceListener" name="TextWriter" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
