<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
     
    <add key="Microsoft.EMIC.Cloud.GenericWorker.URL"    value="http://localhost:81/JobSubmission/Service.svc" />
    <add key="JobManagementUrl"    value="http://localhost:81/JobManagement/"/>
    
    <!--<add key="Microsoft.EMIC.Cloud.GenericWorker.URL"    value="http://my.genericworker.net/JobSubmission/Service.svc" />
    <add key="JobManagementUrl"    value="http://my.genericworker.net/JobManagement/"/>-->

    <add key="Microsoft.EMIC.Cloud.Demo.User.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=genericworker;AccountKey=EKnIOz9uYJ+FAvtL25Rka/OkZ6OoTHkF4GDGe7wcWFrjcaM34QI9gr6xd0p56OVLeFcqlAiiAQbYVwOo3cMrtg==" />

    <!--<add key="Microsoft.EMIC.Cloud.Demo.User.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ademostorageaccount;AccountKey=oaSCWPLqbxS34OKeCLPA9FcwiwppYyd8yexvBZSip6Xg1IRv9wsDICUrKB3aXFnyG7mDSvEIBkI8DXvQAFXpdA==" />-->    
  </appSettings>
</configuration>